{% extends "layout.html" %}

{% block content %}
    <h1>About Dargle</h1>

    <body>
        <p>
        Dargle serves as a data aggregation platform for dark web domains.
        Hidden services on the dark web prove difficult to navigate, but by crawling the clear web, one can
        accumulate a directory of sorts for these hidden services.
        Using said directory, we can then generate a portfolio of domains and their statuses.
        Over time, this data can be used to formulate trends and provide insight into the nature of the dark web.
        Finally, we can gain insight into the content and nature of these services, as well as the connections between them,
        which would give us a deeper look into the dark web as a whole.
        </p>
    </body>
{% endblock content %}
