{% extends "layout.html" %}

{% block content %}
    <h1><center>Data Analysis</center></h1>

    <p></p>

    <p font-family="Roboto Slab">
        From our data, we can take a look at just exactly which services on the Dark Web are most popular on the Clear Web. Taking a look at the top 10 sites, we see the following figure
    </p>

    <center><img src="/figure_1" alt="Hits per Domain"></center>

    <p></p>

    <p>
        This figure shows that of the top 10 domains, 4 of them are links to Hydra, a Russian hacking community. One seems to be pointing to Facebook's .onion address. We also can see DuckDuckGo takes fourth place, which makes sense due to its popularity among people who want to keep their searches private.
    </p>

    <p></p>

    <p>
        We can do the same with the sites that house references to .onion domains. Doing this, we get
    </p>

    <center><img src="/figure_2" alt="Hits per Source"></center>

    <p></p>

    <ol>
        <li>The one with the most references by far is seemingly a directory of .onion addresses, oniondir.biz.</li>
        <li>At second, we have Pastebin, which is simply a popular site that houses text files.</li>
        <li>Covering third and fourth, there's the CyberBunker, a hosting service for Dark Web domains.</li>
        <li>The fifth slot is held by Micropaste, a service for sharing code, texts, and links, which is similar to Pastebin.</li>
        <li>Next is hosting.danwin. This site is run by Daniel Winzen, who in turn hosts thousands of addresses on the Dark Web. However, as of March 2020, his service was attacked and most of his services were taken down.</li>
        <li>Sec4ever is an Arabic hacking forum.</li>
        <li>In the next two slots is escrita.com.br, a Brazilian library/archive site.</li>
        <li>Next is onionlandsearchengine, which is apparently a search engine for the Dark Web.</li>
        <li>Again we see Daniel Winzen's domain, but this time it appears to be a listing of onions on his site.</li>
        <li>Finally, we see coinexchange.io, which is a domain dedicated to BTC trading. This one is somewhat surprising, though it makes sense, as BTC is the de facto currency of the Dark Web.</li>
    </p>    

{% endblock content %}