{% extends "layout.html" %}

{% block content %}
    <h2>Domains</h2>
    <table class="table table-striped table-bordered table-dark">
        <thead class="font-weight-bold">
            <td>Title</td>
            <td>Domain</td>
            <td>Hits</td>
        </thead>

        {% for row in rows %}
            <tr>
                <td>{{row["title"]}}</td>
                <td>{{row["domain"]}}</td>
                <td>{{row["hits"]}}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}
